{% load static from static %}
<!DOCTYPE html>
  <head>
    <link rel="icon" href={% static "public/favicon.ico" %} type="image/x-icon">
    <title>Multiplayer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/press-start-2p" type="text/css"/>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href={% static "css/main.css" %}></link>
  </head>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">AI Pong</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/">Arcade</a></li>
        <li><a href="/training">Training</a></li>
        <li class="active"><a href="/multiplayer">Multiplayer</a></li>
      </ul>
    </div>
  </nav>
  
  <center><h2>Multiplayer!<h2></center>
  <body>
    <img id="background-image" src="https://wallpaperaccess.com/full/42332.png">

    <div>
      <div class="container-top">
        <div id="left-container">
          <div id="Player1Name" class=""> Player 1 </div>
          <br>
          <div id="test">
            Score: <div id="player1tally" class="">0</div>
            <br>
            Set:<div id="player1-game-tally" class="">0</div>
          </div>
        </div>
        <div id="game">
          <canvas id='pong' width='600' height='400'></canvas>
          </div>
          <div id="right-container">
            <div id=Player2Name class=""> Player 2 </div>
            <br>
            <div id ="score">Score:<div id="player2tally" class="">0</div></div>
            <br>
            <div id="set">Set:<div id="player2-game-tally" class="">0</div></div>
          </div>
        </div>
        
        <section>
          <div class="difficulty">
            
            <div id="easy">
              <button id="easy">Easy</button>
            </div>
    
            <div id="medium">
              <button id="medium">Medium</button>
            </div>
    
            <div id="hard">
              <button id='hard'>Hard</button>
            </div> 
          </div>
        </section>
        
        <script>
          $(document).ready(function(){
              $('#easy').on('click', function(){
                pong.ballSpeed = 300;
                pong.reboundSpeed = 1.00;
                pong.players[0].score = 0;
                pong.players[1].score = 0;
              })
    
              $('#medium').on('click', function(){
                pong.ballSpeed = 400;
                pong.reboundSpeed = 1.10;
                pong.players[0].score = 0;
                pong.players[1].score = 0;
              })
    
              $('#hard').on('click', function(){
                pong.ballSpeed = 500;
                pong.reboundSpeed = 1.20;
                pong.players[0].score = 0;
                pong.players[1].score = 0;
              })
            }) 
        </script>
 

   </body>
   <br>
   <center><h4>Spacebar to Serve!<h4></center>
   <script src={% static "multiplayer.js" %}></script>
   <audio id ="music" controls autoplay>
    <source src={% static "public/fight_music.mp3" %} type="audio/mpeg">
  </audio>
</html>