{% load static from static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="icon" href={% static "public/favicon.ico" %} type="image/x-icon">
  

    <title>Training</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
      <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/press-start-2p" type="text/css"/>
      <link rel="stylesheet" type="text/css" href={% static "css/main.css" %}></link>
    </head>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">AI Pong</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/">Arcade</a></li>
          <li class="active"><a href="/training">Training</a></li>
          <li><a href="/multiplayer">Multiplayer</a></li>
        </ul>
      </div>
    </nav>
    <audio id ="music" controls autoplay>
      <source src={% static "public/Rocky_theme_song.mp3" %} type="audio/mpeg">
    </audio>
  <body>
    <center>
      <h2>Training!</h2>
    </center>
    
    <img id="background-image" src="https://wallpaperaccess.com/full/42332.png">

    <center>
    <div id="traininggame">
        <canvas id='pong' width='320' height='320'></canvas>
    </div>
    </center>
    <script src={% static "vector.js" %}></script>
    <script src={% static "rectangle.js" %}></script>
    <script src={% static "ball.js" %}></script>
    <script src={% static "player.js" %}></script>
    <script src={% static "imageProcessor.js" %}></script>
    <script src={% static "botSocket.js" %}></script>
    <script src={% static "pong.js" %}></script>
    <script src={% static "keyboardInput.js" %}></script>
    <script src={% static "setupAIGame.js" %}></script>
    <script>
      $(document).ready(function(){
        pong.bot = 'student';
        pong.training = true;
        pong.multiplayer = false;
        botSocket.handleWebSocketResponse();
        botSocket.handleWebSocketClose();
        pong.run(botSocket);
      })
    </script>
  </body>
 

</html>