html,

body{
  width: 100%;
}

.container-top {
  display: flex;
  align-items: center;
  height: 320px;
  width: 100%;
  float: top;
}


#game{
  background-color: palegreen;
  text-align: center;
  width: 50%;
}

#left-container{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  float: left;
  position: relative;
  background-color: pink;
  margin: left;
  width: 25%;
  text-align: center;
  font-size: 40px;
}

#right-container {
  display: flex;
  flex-direction: column;
  float: right;
  position: relative;
  background-color: cyan;
  margin: right;
  width: 25%;
  text-align: center;
  font-size: 40px;
}

.container-bottom {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  height: 320px;
  width: 100%;
  background-color: magenta;
}

#bot-1 {
  width:20%;
}
#bot-2 {
  width:20%;
}
#bot-3 {
  width:20%;
}
#bot-4 {
  width:20%;
}
#bot-5 {
  width:20%;
}


  










