html,

body{
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  height: 320px;
  width: 100%;
}


#game{
  background-color: palegreen;
  text-align: center;
  width: 50%;
}

#left-container{
  display: flex;
  flex-direction: column;
  float: left;
  position: relative;
  background-color: pink;
  margin: left;
  width: 25%;
  text-align: center;
  font-size: 40px;
}

#right-container {
  display: flex;
  flex-direction: column;
  float: right;
  position: relative;
  background-color: cyan;
  margin: right;
  width: 25%;
  text-align: center;
  font-size: 40px;
}

#set {
  flex-wrap: wrap;
}




